header {
    display: flex;
    width: 45vw;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
    padding: 2rem 1rem 0 1rem;
}

h1 {
    font-size: 2.5rem;
}

/* From Uiverse.io by alexruix */
.group {
    /* display: flex;
    line-height: 28px;
    align-items: center; */

    display: grid;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
    width: 80%;
    height: 2rem;
    /* max-width: 500px; */
    gap: .6rem;
}


.input {
    width: 100%;
    grid-column: 1 / 8;
    /* height: 40px; */
    /* height: 100%; */
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: var(--Neutral-800);
    color: var(--Neutral-300);
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.icon {
    grid-column: 1/1;
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.search {}

/* From Uiverse.io by Madflows */
.searchButton {
    grid-column: 8/-1;
    position: relative;
    overflow: hidden;

    height: 100%;
    /* width: 10rem; */
    /* padding: 0 1.5rem; */
    border-radius: .5rem;
    background: var(--Blue-500);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}