.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:  2rem; */
    padding-top: 1.5rem;
    width: 100%;
    overflow-x: hidden;
}



/* For the dropdown */
/* From Uiverse.io by gksckt */
.navdropdown {

    display: flex;
    gap: .6rem;
    align-items: center;
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: .3rem .6rem;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}